@charset "UTF-8";
/* =============================================================================
   meu-tema — gnome-shell.css
   Herda o tema Adwaita padrão e aplica tweaks incrementais em cima.
   Para adicionar novos componentes, crie um .css em extensions/ e importe aqui.
   ============================================================================= */
@import "resource:///org/gnome/shell/theme/gnome-shell.css";
#dashtodockContainer .dash-background {
  background-color: #18181b !important;
  border: 1px solid #3f3f46;
}

#dash .show-apps .overview-icon,
#dashtodockContainer .show-apps .overview-icon {
  color: #f4f4f5;
}

.dash-item-container .overview-tile .app-grid-running-dot {
  background-color: #f4f4f5 !important;
}

#panel {
  background-color: #18181b;
  color: #f4f4f5;
  box-shadow: inset 0 -0.5px 0 #3f3f46;
}

#panel {
  font-weight: 600;
  color: #f4f4f5;
}

#panel .panel-button {
  font-weight: 600;
  color: #f4f4f5;
}

#panel #clock {
  font-weight: 600;
  color: #f4f4f5;
}

#panel {
  height: 35px;
}

#panel .workspace-dot {
  background-color: #f4f4f5;
}
