#dashtodockContainer .dash-background {
  background-color: $popover !important;
  border: 1px solid $border;
}

#dash .show-apps .overview-icon,
#dashtodockContainer .show-apps .overview-icon {
  color: $foreground;
}

.dash-item-container .overview-tile .app-grid-running-dot {
  background-color: $foreground !important;
}